@media (max-width: 1440px) {
  .services__left {
    min-width: 500px;
  }
  .services__slider-info {
    width: 60%;
  }
  .portfolio__box {
    width: 60%;
    margin: 0 150px;
  }
  .main__decor-three {
    left: -160px;
  }
  .benefits-three-col__inner {
    width: 80%;
    margin: 100px auto;
  }
  .benefits-three-col__item {
    margin: 0 10px;
  }
  .clients-box {
    display: block;
  }
  .contacts__contact {
    margin-top: 50px;
    width: 60%;
  }
  .contacts__box {
    margin-top: 60px;
  }
  h3 {
    margin-top: 720px;
    font-size: 50px;
  }
}
@media (max-width: 1360px) {
  .header__menu {
    display: none;
  }
  .header__menu ul {
    padding-top: 100px;
    flex-direction: column;
    position: absolute;
    background-color: $bg;
    padding-inline-start: 0;
    top: 0;
  }
  .header__menu ul li {
    padding: 12px 30px;
    margin: 0;
    text-shadow: none;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
  h4 {
    font-size: 60px;
  }
  .services__slider-info h4 {
    transform: translateX(-300px);
  }
}
@media (max-width: 1140px) {
  h1 {
    font-size: 90px;
  }
  .red_button {
    transform: translateY(-10px);
    &:hover {
      transform: translateY(-15px);
    }
  }
  .benefits-three-col__item {
    min-width: 220px;
    height: 366px;
    p{
      font-size: 12px;
    }
  }
  .dev-btn {
    padding: 16px 5px;
  }
  .card-price p{
    font-size: 20px;
  }
  .benefits-three-col__item svg {
    width: 80px;
}
  body.light .benefits-three-col__item svg {
    width: 80px;
}
.services__slider-nav{
  margin-left: 50px;
}
.services__slider-nav .slick-track{
  transform: translateY(100px)!important;
  transform: translateX(100px)!important;
}
.services__left{
  align-items: start;
}
.img-box{
  max-width: 70%;
  height: auto;
}
.services__slider-info{
  p{
  width: 480px;
}
h4{
  transform: translateY(0);
  left: 0;
  right: 0;
}
} 
.services__left a {
    margin-left: 69px;
    margin-top: 38px;
}

}
